html {
    background-color: purple;
}
main {
    background-color: lavender;
    margin: 0% 20% 0% 20%;
}
header {
    background-color: plum
}
img {
    width: 10%;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1.nav {
    padding: 0% 1% 0% 1%;
}
h1 {
    padding: 0% 1% 0% 1%;
}